html, body {
  margin: 0;
  padding: 0;
}

#base {
  padding: 20px;
}

.gsbpm, .gsim-explorer {
  font-family: Arial, sans-serif;
}

.gsbpm {
  min-width: 650px;
  /*max-width: 1200px;*/
  margin: auto;
}

.gsbpm > .title {
  background-color: #bde7a5;
  color: #4f8233;
  border-color: #93bb8c;
}

.cell {
  margin: 5px;
  border-style: solid;
  border-width: 3px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.9em;
}

.phase {
  width: 14.285%;
}
.phases {
  display: flex;
}
.phase > .title {
  background-color: #9fc6e9;
  color: #223144;
  border-color: #5b7dac;
  margin-bottom: 10px;
}

.subprocess {
  background-color: #f4cacd;
  border-color: #934d57;
  color: #402c2a;
  min-height: 70px;
}

.subprocesses ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}


.gsim-explorer {
  display: flex;
  justify-content: center;
}

.grow {
  flex-grow: 1;
}

.gsim-select-group {
  text-align: center;
}

.gsim-select-group > a {
  margin-bottom: 10px;
  display: inline-block;
}

.gsim-select-group-small {
  width: 225px;
  text-align: center;
}

.gsim-select-group-small > div {
  width: 80px;
  height: 80px;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: 0.2s;
}

.gsim-select-group-small > div.active {
  width: 150px;
  height: 150px;
  font-size: 1.3em;
}

.gsim-select-group-full {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}



.gsim-select-group-full > div {
  min-width: 250px;
  min-height: 250px;
  border-style: solid;
  border-width: 3px;
  /*flex: 0 0 auto;*/
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2em;
  cursor: pointer;
}

.gsim-group-business {
  background-color: hsla(198, 100%, 45%, 1);
  border-color: hsla(198, 100%, 35%, 1);
}

.gsim-group-exchange {
  background-color: hsla(358, 85%, 52%, 1);
  border-color: hsla(358, 85%, 42%, 1);
}

.gsim-group-structures {
  background-color: hsla(57, 100%, 50%, 1);
  border-color: hsla(57, 100%, 40%, 1);
}

.gsim-group-concepts {
  background-color: hsla(138, 68%, 41%, 1);
  border-color: hsla(138, 68%, 31%, 1);
}

.note {
  margin-top: 20px;
  font-style: italic;
}

.small-button {
  margin-top: 5px;
}

.nav.navbar-nav > li > a.active {
  background-color: #337ab7;
  color: #fff;
  cursor: default;
}

.navbar-nav > li > a:hover {
  text-decoration: none;
  color: #23527c;
  background-color: #eee;
}

dd {
  margin-bottom: 15px;
}


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.flag-icon.large-flag {
  font-size: 4em;
}

.navbar-brand {
  padding: 0 15px;;
}

.navbar-brand .logo {
  margin: 5px 15px;
  width: 40px;
  display: inline-block;
}