html, body {
  margin: 0;
  padding: 0;
}

#base {
  padding: 20px;
}

.gsbpm, .gsim-explorer {
  font-family: Arial, sans-serif;
}

.gsbpm {
  min-width: 650px;
  /*max-width: 1200px;*/
  margin: auto;
}

.gsbpm > .title {
  background-color: #bde7a5;
  color: #4f8233;
  border-color: #93bb8c;
}

.cell {
  margin: 5px;
  border-style: solid;
  border-width: 3px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.9em;
}

.phase {
  width: 14.285%;
}
.phases {
  display: flex;
}
.phase > .title {
  background-color: #9fc6e9;
  color: #223144;
  border-color: #5b7dac;
  margin-bottom: 10px;
}

.subprocess {
  background-color: #f4cacd;
  border-color: #934d57;
  color: #402c2a;
  min-height: 70px;
  cursor: pointer;
}

.subprocesses ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

label {
  margin-right: 5px;
}

.gsim-explorer {
  display: flex;
  justify-content: center;
}

.grow {
  flex-grow: 1;
}
.gsim-select-group-small {
  width: 225px;
  text-align: center;
}

.gsim-select-group-small > div {
  width: 80px;
  height: 80px;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: 0.2s;
}

.gsim-select-group-small > div.active {
  width: 150px;
  height: 150px;
  font-size: 1.3em;
}

.gsim-select-group-full {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}


.gsim-select-group-full > div {
  width: 400px;
  min-height: 400px;
  border-style: solid;
  border-width: 3px;
  /*flex: 0 0 auto;*/
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2em;
  cursor: pointer;
}

.gsim-group-business {
  background-color: hsla(198, 100%, 45%, 1);
  border-color: hsla(198, 100%, 35%, 1);
}

.gsim-group-exchange {
  background-color: hsla(358, 85%, 52%, 1);
  border-color: hsla(358, 85%, 42%, 1);
}

.gsim-group-structures {
  background-color: hsla(57, 100%, 50%, 1);
  border-color: hsla(57, 100%, 40%, 1);
}

.gsim-group-concepts {
  background-color: hsla(138, 68%, 41%, 1);
  border-color: hsla(138, 68%, 31%, 1);
}

.note {
  margin-top: 20px;
  font-style: italic;
}


